*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-primary:#252525;
    --color-secundary:#ffff;
    --back-red:#E02041;
    --backgorubd:#f9f9f9;
    --border-button:#ffffff88;

    /* 1rem = 10px */
    font-size: 62.5%;
}

body *{
    font-family: 'Open Sans';
}

body{
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--backgorubd);
}
.card{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: min(51.4rem,87%);
    align-items: center;
}

/* Logo */
header{
    display: flex;
    margin-top: 3.3rem;
}

.header__logo{
    width: 12.1rem;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.content__title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--text-primary);
}

.content__texts{
    display: flex;
    align-items: center ;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.1rem;
    color: var(--text-primary   );
}

.content__btn{
    background-color: var(--back-red);
    color: var(--color-secundary);
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    cursor: pointer;
}
/* Form */
form{
    background-color: var(--back-red);
    padding: 2.5rem 6.4rem;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    align-items: center;
    border-radius: 0.6rem;
}

.form__title{
    display: block;
    width: 27rem;
    font-size:2.4rem;
    text-align: right;
    color: var(--color-secundary);
    font-weight: 700;
    line-height: 3.2rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width:55%;
}
.form__input ,.form__btn{
    padding: 0.8rem 1.8rem;
    border-radius: 0.4rem;
    border: none;
}
.form__input{
    background-color: transparent;
    border: 0.1rem solid var(--border-button);
    color: var(--color-secundary);
    outline: none   ;
    transition: 0.5s;
}
.form__input:focus{
    background-color: transparent;
    border: 0.1rem solid var(--color-secundary);
    transition: 0.5s;

}
.form__input::placeholder{
    color: var(--border-button  );
    font-weight: 400;
    transition: 0.5s;
}
.form__input:focus::placeholder {
    color: var(--text-secundary);
    font-weight: 400;
    transition: 0.5s;
}
.form__btn{
    background-color: var(--color-secundary);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: var(--text-primary);
}

/* Doadores */
.doadores__title{
    color: #EA1A49;
    font-weight: 700;
}
.doadores{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
} 
.dornos{
    gap: 12.1rem;   
    display: flex;
    flex-direction: row;
}

.dorno{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}
.dorno__blod{
    display: flex;
    color: #EA1A49;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    justify-content:center ;
    align-items: center;
}
.dorno__blod::before{
    content: '';  
    background-color: #ff4f4f11;
    position: absolute;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    width: 4rem;
    height: 4rem;
}
.dorno__text{
    font-weight: 600;
    line-height: 2.1rem;
    text-align: center;
}
/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
    border-top: 1px solid lightgray;
    padding: 1rem;
    font-weight: 600;
}
.footer__text{
    color: #EA1A49;
}

